In [125]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import stats

In [126]:
#Open and read data

leso_df = pd.read_csv('data/leso_data.csv')

In [127]:
leso_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141068 entries, 0 to 141067
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   state              141068 non-null  object
 1   station_name_lea   141068 non-null  object
 2   nsn                141068 non-null  object
 3   item_name          141068 non-null  object
 4   quantity           141068 non-null  int64
 5   ui                 141068 non-null  object
 6   acquisition_value  141068 non-null  float64
 7   demil_code         141068 non-null  object
 8   demil_ic           132163 non-null  float64
 9   ship_date          141068 non-null  object
 10  station_type       141068 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 11.8+ MB

In [128]:
leso_df.columns

Index(['state', 'station_name_lea', 'nsn', 'item_name', 'quantity', 'ui',
       'acquisition_value', 'demil_code', 'demil_ic', 'ship_date',
       'station_type'],
      dtype='object')

In [129]:
leso_df.rename(columns = {'station_name_lea': 'station_name'}, inplace = True)
leso_df.head()

,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date,station_type
0,AL,ABBEVILLE POLICE DEPT,2320-01-371-9584,"TRUCK,UTILITY",1,Each,62627.0,C,1.0,2016-09-29T00:00:00Z,State
1,AL,ABBEVILLE POLICE DEPT,1005-01-587-7175,"MOUNT,RIFLE",10,Each,1626.0,D,1.0,2016-09-19T00:00:00Z,State
2,AL,ABBEVILLE POLICE DEPT,2320-01-371-9584,"TRUCK,UTILITY",1,Each,62627.0,C,1.0,2016-09-29T00:00:00Z,State
3,AL,ABBEVILLE POLICE DEPT,2355-01-553-4634,MINE RESISTANT VEHICLE,1,Each,658000.0,C,1.0,2016-11-09T00:00:00Z,State
4,AL,ABBEVILLE POLICE DEPT,1240-01-411-1265,"SIGHT,REFLEX",9,Each,321.0,D,1.0,2016-09-14T00:00:00Z,State

In [130]:
test_df = leso_df[leso_df['item_name'].str.contains('ARMOR')]
test_df['item_name'].value_counts()

item_name
TRUCK,ARMORED                                                             236
ARMOR,TRANSPARENT,VEHICULAR WINDOW                                        166
VEST,NON-BALLISTIC PROTECTIVE,ARMOR-CARRYING                               71
ARMOR, PERSONAL                                                            47
ARMOR,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE                     25
ARMOR PLATE                                                                21
UP ARMORED NTVS                                                            19
ARMOR SET,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE                 10
BODY ARMOR,FRAGMENTATION PROTECTIVE                                        10
ARMOR, HELMET                                                              10
LIGHT ARMORED VEHICLE                                                      10
CARRIER,NON-BALLISTIC PROTECTIVE,ARMOR-CARRYING                             9
INSERT,SMALL ARMS PROTECTIVE BODY ARMOR                                     8
PERISCOPE,ARMORED VEHICLE                                                   5
CARRIER,SMALL ARMS PROTECTIVE BODY ARMOR                                    5
CAR,ARMORED,MINE DISPOSAL                                                   4
CAR,ARMORED                                                                 3
VEHICLE ARMOR                                                               3
BAG,SMALL ARMS PROTECTIVE BODY ARMOR                                        3
VEST,SMALL ARMS PROTECTIVE BODY ARMOR                                       3
ARMOR PLATE, SHEET, STRIP, FOIL, LEAF                                       3
TOOL KIT,ARMORER                                                            2
GRADER,ROAD,MOTORIZED,ARMORED                                               2
ARMOR, PLATE                                                                2
COVER,BODY ARMOR,FRAGMENTATION PROTECTIVE                                   2
BODY ARMOR,SMALL ARMS PROTECTIVE                                            2
MAINT SYS,ARMOR VEH                                                         2
COVER,VEST,SMALL ARMS PROTECTIVE BODY ARMOR                                 1
POCKET AMMUNITION MAGAZINE,VEST SMALL ARMS PROTECTIVE BODY ARMOR COVER      1
BODY ARMOR,CHEST                                                            1
TOOL KIT,ARMORER LAV COMMON                                                 1
HELMET,BODY ARMOR                                                           1
KIT,ARMORED FOUR MAN,VEHICULAR                                              1
SKID LOADER,ARMORED                                                         1
PARTS KIT,ARMOR PLATE                                                       1
ARMOR KIT,GUN SHIELD                                                        1
ARMOR SET,SUPPLEMENTAL,LVS                                                  1
MAC KIT,FULL ARMOR 4 DOOR                                                   1
FRAME,ARMOR,VEHICULAR WINDOW                                                1
WRENCH,ARMORER'S                                                            1
BAG,BODY ARMOR HELMET                                                       1
Name: count, dtype: int64

In [134]:
#Equipment Bools
weapon_bool = (leso_df['item_name'] == 'RIFLE,7.62 MILLIMETER') | (leso_df['item_name'] == 'RIFLE,5.56 MILLIMETER') | (leso_df['item_name'] == 'SHOTGUN,12 GAGE,RIOT TYPE')
rifle_df = leso_df[weapon_bool]
rifle_df['item_name'].value_counts()

vehicle_bool = (leso_df['item_name'] == 'MINE RESISTANT VEHICLE') | (leso_df['item_name'] == 'LIGHT ARMORED VEHICLE') | (leso_df['item_name'] == 'ONLY COMPLETE COMBAT/ASSAULT/TACTICAL WHEELED VEHICLES') |(leso_df['item_name'] == 'UTILITY VEHICLE,4WD') | (leso_df['item_name'] == 'HELICOPTER,OBSERVATION') | (leso_df['item_name'] == 'HELICOPTER,UTILITY') | (leso_df['item_name'] == 'TRUCK,ARMORED')
vic_df = leso_df[vehicle_bool]
vic_df['item_name'].value_counts()

helmet_bool = (leso_df['item_name'] == 'HELMET,ADVANCED COMBAT') | (leso_df['item_name'] == 'ARMOR, HELMET') | (leso_df['item_name'] == "HELMET,GROUND TROOPS'") | (leso_df['item_name'] == 'HELMET,GROUND TROOPS') | (leso_df['item_name'] == 'HELMET,GROUND TROOPS-PARACHUTISTS')
helmet_df = leso_df[helmet_bool]

night_vis_bool = (leso_df['item_name'] == 'NIGHT VISION GOGGLE ') | (leso_df['item_name'] == 'VIEWER,NIGHT VISION') | (leso_df['item_name'] == 'IMAGE INTENSIFIER,NIGHT VISION') | (leso_df['item_name'] == 'NIGHT VISION EQUIP, EMIT, REFLECTED RAD') | (leso_df['item_name'] == 'NIGHT VISION SIGHT') | (leso_df['item_name'] == 'NIGHT VISION SIGHT INDIVIDUAL SERVED WEAPONS') | (leso_df['item_name'] == 'NIGHT VISION DEVICE') | (leso_df['item_name'] == 'GOGGLES,NIGHT VISION') | (leso_df['item_name'] == 'BINOCULAR,NIGHT VISION') | (leso_df['item_name'] == 'SIGHT,NIGHT VISION') | (leso_df['item_name'] == 'NIGHT VISION SIGHT,') | (leso_df['item_name'] == 'VIEWER KIT,NIGHT VISION')
night_vis_df = leso_df[night_vis_bool]

#specialty equipment
spec_equip_bool = (leso_df['item_name'] == 'SIGHT,NIGHT VISION SNIPERSCOPE') | (leso_df['item_name'] == 'TELESCOPE,STRAIGHT') | (leso_df['item_name'] == 'TELESCOPE,NON-INVERTING INFRARED') | (leso_df['item_name'] == 'SCOPE,NIGHT VISION')
spec_df = leso_df[spec_equip_bool]
#SIGHT,NIGHT VISION SNIPERSCOPE
# TELESCOPE,STRAIGHT                   398
# TELESCOPE,NON-INVERTING INFRARED     167
# SCOPE,NIGHT VISION 

#armor
armor_bool = (leso_df['item_name'] == 'ARMOR, PERSONAL') | (leso_df['item_name'] == 'ARMOR,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE') | (leso_df['item_name'] == 'ARMOR PLATE') | (leso_df['item_name'] == 'ARMOR SET,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE') | (leso_df['item_name'] == 'BODY ARMOR,FRAGMENTATION PROTECTIVE') | (leso_df['item_name'] == 'ARMOR, PLATE') 
armor_df = leso_df[armor_bool]
# ARMOR, PERSONAL                                                            47
# ARMOR,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE                     25
# ARMOR PLATE
# ARMOR SET,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE                 10
# BODY ARMOR,FRAGMENTATION PROTECTIVE 
# INSERT,SMALL ARMS PROTECTIVE BODY ARMOR
# ARMOR, PLATE

frames = [vic_df, rifle_df, helmet_df, night_vis_df, spec_df, armor_df]

example_df = pd.concat(frames)
example_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76087 entries, 3 to 137514
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              76087 non-null  object
 1   station_name       76087 non-null  object
 2   nsn                76087 non-null  object
 3   item_name          76087 non-null  object
 4   quantity           76087 non-null  int64
 5   ui                 76087 non-null  object
 6   acquisition_value  76087 non-null  float64
 7   demil_code         76087 non-null  object
 8   demil_ic           75192 non-null  float64
 9   ship_date          76087 non-null  object
 10  station_type       76087 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 7.0+ MB

In [137]:
example_df['item_name'].value_counts()

item_name
RIFLE,5.56 MILLIMETER                                         54131
RIFLE,7.62 MILLIMETER                                         12244
VIEWER,NIGHT VISION                                            1860
IMAGE INTENSIFIER,NIGHT VISION                                 1665
SIGHT,NIGHT VISION SNIPERSCOPE                                 1260
SHOTGUN,12 GAGE,RIOT TYPE                                      1216
MINE RESISTANT VEHICLE                                         1098
NIGHT VISION EQUIP, EMIT, REFLECTED RAD                         500
TELESCOPE,STRAIGHT                                              398
HELICOPTER,OBSERVATION                                          292
TRUCK,ARMORED                                                   236
VIEWER KIT,NIGHT VISION                                         191
TELESCOPE,NON-INVERTING INFRARED                                167
NIGHT VISION SIGHT                                              145
HELMET,ADVANCED COMBAT                                           95
ONLY COMPLETE COMBAT/ASSAULT/TACTICAL WHEELED VEHICLES           85
NIGHT VISION SIGHT,                                              60
SCOPE,NIGHT VISION                                               57
NIGHT VISION SIGHT INDIVIDUAL SERVED WEAPONS                     56
ARMOR, PERSONAL                                                  47
HELMET,GROUND TROOPS'                                            47
HELICOPTER,UTILITY                                               46
ARMOR,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE           25
BINOCULAR,NIGHT VISION                                           23
SIGHT,NIGHT VISION                                               23
ARMOR PLATE                                                      21
UTILITY VEHICLE,4WD                                              15
NIGHT VISION DEVICE                                              13
HELMET,GROUND TROOPS-PARACHUTISTS                                12
LIGHT ARMORED VEHICLE                                            10
ARMOR, HELMET                                                    10
ARMOR SET,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PROTECTIVE       10
BODY ARMOR,FRAGMENTATION PROTECTIVE                              10
GOGGLES,NIGHT VISION                                              9
HELMET,GROUND TROOPS                                              8
ARMOR, PLATE                                                      2
Name: count, dtype: int64

In [175]:
clean_leso = example_df.reset_index(drop=True)
clean_leso.tail()

,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date,station_type
76082,TX,EL PASO COUNTY SHERIFF'S OFFICE,8470-DS-BOD-YARM,"ARMOR, PERSONAL",156,Each,200.00,D,NaN,2010-05-27T00:00:00Z,State
76083,TX,KLEBERG COUNTY SHERIFF'S OFFICE,2540-01-631-3888,"ARMOR SET,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATIO...",1,Each,5519.70,D,1.0,2017-10-20T00:00:00Z,State
76084,TX,TOMBALL POLICE DEPT,2540-01-434-5150,"ARMOR,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PR...",4,Each,2404.47,D,1.0,2012-02-09T00:00:00Z,State
76085,WA,EVERGREEN STATE COLLEGE PD HI_ED,8470-DS-PLA-TE01,"ARMOR, PLATE",13,Each,1.00,D,NaN,2009-12-09T00:00:00Z,State
76086,WI,INDEPENDENCE POLICE DEPT,9515-01-395-6107,ARMOR PLATE,10,Each,16860.90,D,1.0,2011-11-03T00:00:00Z,State

In [196]:
for i in clean_leso.index:    
    if clean_leso.iloc[i]['quantity'] > 1:
        #copy row
        new_row = clean_leso.iloc[i].copy() 
        clean_leso._append([new_row] * clean_leso.iloc[i]['quantity'])

print(clean_leso.tail())

      state                      station_name               nsn  \
76082    TX   EL PASO COUNTY SHERIFF'S OFFICE  8470-DS-BOD-YARM
76083    TX   KLEBERG COUNTY SHERIFF'S OFFICE  2540-01-631-3888
76084    TX               TOMBALL POLICE DEPT  2540-01-434-5150
76085    WA  EVERGREEN STATE COLLEGE PD HI_ED  8470-DS-PLA-TE01
76086    WI          INDEPENDENCE POLICE DEPT  9515-01-395-6107

                                               item_name  quantity    ui  \
76082                                    ARMOR, PERSONAL       156  Each
76083  ARMOR SET,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATIO...         1  Each
76084  ARMOR,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PR...         4  Each
76085                                       ARMOR, PLATE        13  Each
76086                                        ARMOR PLATE        10  Each

       acquisition_value demil_code  demil_ic             ship_date  \
76082             200.00          D       NaN  2010-05-27T00:00:00Z
76083            5519.70          D       1.0  2017-10-20T00:00:00Z
76084            2404.47          D       1.0  2012-02-09T00:00:00Z
76085               1.00          D       NaN  2009-12-09T00:00:00Z
76086           16860.90          D       1.0  2011-11-03T00:00:00Z

      station_type
76082        State
76083        State
76084        State
76085        State
76086        State

In [193]:
#Multiply quanitity

function_df = pd.DataFrame()
def mult_quantity(df):
    
    for i in df.index:    
        if df.iloc[i]['quantity'] > 1:
        #copy row
            new_row = df.iloc[i].copy() 
            function_df._append([new_row] * df.iloc[i]['quantity'])
    return function_df

mult_quantity(clean_leso)

# # Use copy() to duplicate the second row
# new_row = df.loc[1].copy()

# # Append the new row twice to the original DataFrame
# df = df._append([new_row] * 2, ignore_index=True)

Empty DataFrame
Columns: []
Index: []

In [145]:
example_df.head()

,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date,station_type
3,AL,ABBEVILLE POLICE DEPT,2355-01-553-4634,MINE RESISTANT VEHICLE,1,Each,658000.0,C,1.0,2016-11-09T00:00:00Z,State
71,AL,ALABAMA LAW ENFORCEMENT AGENCY,1520-00-169-7137,"HELICOPTER,OBSERVATION",1,Each,92290.0,C,1.0,2007-09-10T00:00:00Z,State
72,AL,ALABAMA LAW ENFORCEMENT AGENCY,1520-00-169-7137,"HELICOPTER,OBSERVATION",1,Each,92290.0,C,1.0,2006-09-21T00:00:00Z,State
73,AL,ALABAMA LAW ENFORCEMENT AGENCY,1520-00-169-7137,"HELICOPTER,OBSERVATION",1,Each,92290.0,C,1.0,2006-09-21T00:00:00Z,State
75,AL,ALABAMA LAW ENFORCEMENT AGENCY,1520-00-169-7137,"HELICOPTER,OBSERVATION",1,Each,92290.0,C,1.0,2006-09-21T00:00:00Z,State

In [154]:
quant_bool = example_df[example_df['quantity']>1]
quant_bool.head()

,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date,station_type
55562,KY,LYON CSO,2340-01-506-6222,"UTILITY VEHICLE,4WD",3,Each,14069.48,A,1.0,2019-11-15T00:00:00Z,State
76050,MS,PAT HARRISON WATERWAY LE,2340-01-420-2816,"UTILITY VEHICLE,4WD",2,Each,9831.07,A,1.0,2019-11-25T00:00:00Z,State
116730,TN,LEBANON POLICE DEPARTMENT,2340-01-420-2816,"UTILITY VEHICLE,4WD",2,Each,9831.07,A,1.0,2019-08-08T00:00:00Z,State
135569,WV,MORGANTOWN POLICE DEPT,2355-01-581-2392,MINE RESISTANT VEHICLE,2,Each,705421.00,D,1.0,2020-04-08T00:00:00Z,State
141039,PR,SAN SEBASTIAN POLICE DEPT,2340-01-506-6222,"UTILITY VEHICLE,4WD",2,Each,14069.48,A,1.0,2019-12-04T00:00:00Z,State

In [160]:
quant_bool.iloc[0]['quantity']
new_df = quant_bool.iloc[3].copy() * quant_bool.iloc[3]['quantity']

<class 'pandas.core.series.Series'>

In [141]:
#Multiply quantity

example_df.loc[example_df['quantity'] > 1]

,state,station_name,nsn,item_name,quantity,ui,acquisition_value,demil_code,demil_ic,ship_date,station_type
55562,KY,LYON CSO,2340-01-506-6222,"UTILITY VEHICLE,4WD",3,Each,14069.48,A,1.0,2019-11-15T00:00:00Z,State
76050,MS,PAT HARRISON WATERWAY LE,2340-01-420-2816,"UTILITY VEHICLE,4WD",2,Each,9831.07,A,1.0,2019-11-25T00:00:00Z,State
116730,TN,LEBANON POLICE DEPARTMENT,2340-01-420-2816,"UTILITY VEHICLE,4WD",2,Each,9831.07,A,1.0,2019-08-08T00:00:00Z,State
135569,WV,MORGANTOWN POLICE DEPT,2355-01-581-2392,MINE RESISTANT VEHICLE,2,Each,705421.00,D,1.0,2020-04-08T00:00:00Z,State
141039,PR,SAN SEBASTIAN POLICE DEPT,2340-01-506-6222,"UTILITY VEHICLE,4WD",2,Each,14069.48,A,1.0,2019-12-04T00:00:00Z,State
...,...,...,...,...,...,...,...,...,...,...,...
113183,TN,BLOUNT COUNTY SHERIFFS OFFICE,8470-01-543-1624,"BODY ARMOR,FRAGMENTATION PROTECTIVE",20,Each,16.66,A,1.0,2020-02-05T00:00:00Z,State
122725,TX,EL PASO COUNTY SHERIFF'S OFFICE,8470-DS-BOD-YARM,"ARMOR, PERSONAL",156,Each,200.00,D,NaN,2010-05-27T00:00:00Z,State
128731,TX,TOMBALL POLICE DEPT,2540-01-434-5150,"ARMOR,SUPPLEMENTAL,SMALL ARMS-FRAGMENTATION PR...",4,Each,2404.47,D,1.0,2012-02-09T00:00:00Z,State
133550,WA,EVERGREEN STATE COLLEGE PD HI_ED,8470-DS-PLA-TE01,"ARMOR, PLATE",13,Each,1.00,D,NaN,2009-12-09T00:00:00Z,State
137514,WI,INDEPENDENCE POLICE DEPT,9515-01-395-6107,ARMOR PLATE,10,Each,16860.90,D,1.0,2011-11-03T00:00:00Z,State